volumes:
  postgres:
  minio:
  clickhouse:
  seq:

services:

  postgres:
    restart: unless-stopped
    image: postgres:18
    ports: [ "5432:5432" ]
    environment: [ "POSTGRES_PASSWORD=postgres" ]
    volumes:
      - "postgres:/var/lib/postgresql"
      - "./postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
      
  keycloak:
    restart: unless-stopped
    image: quay.io/keycloak/keycloak:26.4
    ports: [ "9002:8080" ]
    command: [ "start-dev" ]
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/keycloak?user=keycloak&password=keycloak
      
  minio:
    restart: unless-stopped
    image: quay.io/minio/minio:latest
    ports: [ "9000:9000", "9001:9001" ]
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio-user
      MINIO_ROOT_PASSWORD: minio-password
    volumes: [ "minio:/data" ]
    healthcheck:
      test: [ "CMD", "curl", "-I", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
      
  cache:
    restart: unless-stopped
    image: valkey/valkey:8.1
    ports: [ "6379:6379" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
      
  seq:
    restart: unless-stopped
    image: datalust/seq:2025.2
    ports: [ "5341:80" ]
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_NOAUTHENTICATION: true
    volumes: [ "seq:/data" ]
    healthcheck:
      test: [ "CMD", "curl", "-I", "http://localhost:80/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
      
  clickhouse:
    restart: unless-stopped
    image: clickhouse:25.8
    ports: [ "8123:8123" ]
    volumes: [ "clickhouse:/var/lib/clickhouse/" ]
    environment:
      CLICKHOUSE_USER: koworking
      CLICKHOUSE_PASSWORD: koworking
      CLICKHOUSE_DB: koworking
      
  # Koworking
  
  api:
    restart: unless-stopped
    build:
      context: .
      dockerfile: /api/Dockerfile
    ports: [ "8080:8080" ]
    environment:
      ASPNETCORE_ENVIRONMENT: Staging
      ConnectionStrings__Postgres: Host=postgres; User Id=koworking; Password=koworking; Database=koworking;
      ConnectionStrings__Redis: cache
      ConnectionStrings__Clickhouse: Host=clickhouse;Protocol=http;Port=8123;Database=koworking;Username=koworking;Password=koworking
      Serilog__WriteTo__1__Args__serverUrl: http://seq:5341
      Jwt__Authority: http://keycloak:8080/realms/koworking-dev
      Jwt__Issuer: http://localhost:9002/realms/koworking-dev
      S3__ServiceUrl: http://minio:9000

  web:
    restart: unless-stopped
    build:
      context: .
      target: web
    environment:
      BACKEND_URL: http://api:8080
    ports: [ '3000:3000' ]