@import "tailwindcss";
@theme {
  --color-main-50: oklch(0.956 0.021 261.78);
  --color-main-100: oklch(0.921 0.038 260.7);
  --color-main-200: oklch(0.845 0.078 255.11);
  --color-main-300: oklch(0.756 0.13 250.5);
  --color-main-400: oklch(0.679 0.171 245.03);
  --color-main-500: oklch(0.599 0.151 245.03); /* #0086D3 */
  --color-main-600: oklch(0.506 0.127 244.86);
  --color-main-700: oklch(0.413 0.104 244.83);
  --color-main-800: oklch(0.326 0.082 245.09);
  --color-main-900: oklch(0.232 0.059 245.62);
  --color-main-950: oklch(0.176 0.045 245.52);
}

.root {
  isolation: isolate;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
