name: Deploy
on:
  push:
    branches:
      - master
jobs:

  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and push api
        uses: docker/build-push-action@v6
        with:
          push: true
          file: ./api/src/Dockerfile
          tags: ${{ secrets.REGISTRY }}/koworking/api:latest

      - name: Build and push web
        uses: docker/build-push-action@v6
        with:
          push: true
          file: ./web/Dockerfile
          build-args: |
            VITE_NODE_ENV=production
            VITE_KEYCLOAK_URL=https://kckwr.un1ver5e.ru/realms/koworking
          tags: ${{ secrets.REGISTRY }}/koworking/web:latest

      - name: Calling portainer webhooks
        run: |
          sleep 10s
          curl -fail -X POST ${{ secrets.API_WEBHOOK_URL }}
          curl -fail -X POST ${{ secrets.WEB_WEBHOOK_URL }}